@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>

<p>We specialize in building database web solutions. We have more than 10 years experience and have a large portfolio of our clients worldwide. If interested we can organize a free on line presentation of our solution. Give us a call and we will be glad to assist.</p>
