@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<address>
   Park Ave<br />
    New York, NY 1000-300<br />
    <abbr title="Phone">P:</abbr>
    700.555.1234
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@firm.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@firm.com</a>
</address>