@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SCHEDULER</h1>
    <p class="lead">Scheduler App enables you to have all your notes at one place helping you to manage your time and organize yourself.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Easy to use</h2>
        <p>
            Application is easy and simple to use. You can enter your task or planned meeting at just one click.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Functionalities</h2>
        <p>Using this application you can organize your tasks, reminders, calls, meetings. You can very easy search for specific word and sort.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Support</h2>
        <p>We're always here for support and help. If you may have any inquiries please let us know.</p>
        
    </div>
</div>